h1{
    margin: 10px 0px 20px;
}
.main-content{
    background-color:lightyellow;

}

.thirdrow{
    padding-left: 37%;
    
}
.secondrow{
    padding-left: 20%;
}
.urow{
    padding-left: 20px;
}
iframe{
    border-radius: 7px;
   
}
hr{
    color: black;
}



